body
{
    background: rgb(216, 46, 117);
    columns: #333;
    text-align: center;
    font-family: "Courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabezona 
{
    background: #34db4a;
    box-shadow: 0px 2px 50xp 0xp rgba(0,0,0,0.5);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabezona #logo
{
width: 40px;
vertical-align: middle;
}

#cabezona #tagline
{
    margin:  0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(23, 228, 217);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
#post
{
    background: white;
    padding: 1em;
}
